


{% extends 'base.html' %}

{% block body %}
<div class="container mt-4">

    <h1 class="text-center">Registered User List</h1>
    <br>
        <table class="table table-hover table-bordered">
  <thead>
    <tr style="background:yellow;">
      <th scope="col">First Name </th>
      <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Last Login</th>

    </tr>
    {% for user in all_user %}
    <tr>
      <th scope="col">{{ user.first_name}}</th>
      <th scope="col">{{ user.first_name}}</th>
        <th scope="col">{{ user.email}}</th>
        <th scope="col">{{ user.last_login}}</th>

    </tr>
 {% endfor %}

  </tbody>
</table>



</div>

{% endblock %}