


{% extends 'base.html' %}

{% block body %}
<div class="container mt-4">
    {% if user.is_authenticated %}
    <h1 class="text-center">Welcome {{user.username | title }} </h1>
    <br>
        <table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">First Name </th>
      <th scope="col">{{user.first_name}}</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col">Last Name </th>
      <th scope="col">{{user.last_name}}</th>

    </tr>
  <tr>
      <th scope="col">Email </th>
      <th scope="col">{{user.email}}</th>

    </tr>
    <tr>
      <th scope="col">Date Joined </th>
      <th scope="col">{{user.date_joined}}</th>

    </tr>
  <tr>
      <th scope="col">Last Login  </th>
      <th scope="col">{{user.last_login}}</th>

    </tr>

  </tbody>
</table>
    <a class="btn btn-warning" href="{% url 'update' user.id %}">Update</a>
    <a class="btn btn-danger" href="{% url 'delete' user.id %}">Delete</a>

    {% else %}
    <h2>Welcome To Assignment Tutorial, For Better Experince Please Login !!</h2>
    {% endif %}


</div>

{% endblock %}